* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; 
  width: 100%;
  background-image: url("imagens/background.jpeg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.corpo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 40%;
  border-radius: 15px;
  background-color: #012326;
  color: #cfcfcf;
  font-size: 18px;
  margin-top: 50px;
  font-family: 'B612 Mono', monospace;
  
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.corpo h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #11698C;
  padding-bottom: 10px;
  font-size: 35px;
  font-family: 'B612 Mono', monospace;
}

form label,input{
  display: block;
}

fieldset{
  border: none;
}

.escreva label {
 margin: 10px 0;
}

.escreva input {
  width: 100%;
 }
 
.caixaCripto {
  margin: 10px 0;
}

.divAjuste{
  display:flex;
  justify-content: center;
  align-items: center;

}
.radio {
  margin: 10px 0;
}


.caixaChave {
  margin: 10px 0;
  display: none;
}

#chave{
  width: 100%;
}

.resultado {
margin: 10px 0;
}

.rodape {
  width: 100%;
  height: 20px;
  background-color: #012326;
}
